body {
	background-color: rgb(255);
	color: #000000;
	font-family: "effra", helvetica, sans-serif;
	font-size: 16px;
	max-width: 75%;
	font-weight: 200;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

p.description {
	-webkit-columns: 300px 3;
	-moz-columns: 300px 3;
	columns: 300px 3;
}

.p5_chart{
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
}

iframe.p5_chart{
	overflow: hidden;
}

.top-note{
	color: #000000;
	font-family: "effra", helvetica, sans-serif;
	font-size: 10px;
	font-weight: 200;
}

.title h1 {
	color: #000000;
	font-weight: 700;
	font-family: "effra", helvetica, sans-serif;
	font-size: 48px;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
	line-height: 90%;
}

.title a:link{
	text-decoration: none;
}

.title a:hover{
	text-decoration: underline;
}

.title h2 {
	color: #000000;
	font-weight: 400;
	font-family: "effra", helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	padding-top: 0px;
	margin-bottom: 0px;
	line-height: 100%;
}

.title h3 {
	color: #000000;
	font-weight: 400;
	font-family: "effra", helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top: 0px;
	margin-bottom: 0px;
	line-height: 50%;
}

/* unvisited link */
a:link {
    color: #000000;
}

a:hover{
	text-decoration: underline;
}

/* visited link */
a:visited {
    color: #000000;
}