/****** GSAPP.AP StyleSheet *******/

body {
	background-color: rgb(255);
	color: #000000;
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	font-size: 16px;
	font-weight: 100;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

/******* Navigation *******/

div.header{
	width-height: ;

}

div.socia{
	display: inline-block;

}

ul.link{
	display: inline-block;
	list-style:none;
	color:#000000;
	font-weight: 100;
	font-family:"Futura PT Condensed", helvetica, sans-serif;
	font-size: 13px;
	line-height: 110%;

}

p.intro{
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	color: #BBBDC0;
	text-align: justify;
	font-size: 10px;
	font-weight: 100;
	line-height: 125%;
	padding: 0px;
	margin: 0px;

}

/****** Content ******/ 

div.content_grey{
	background-color: #E6E7E8;
	margin:0;
	width: 100%;
	padding-bottom: 25px;
}

p.description_intro {
	width: 350px;
	text-align: justify;
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	color: #000000;
	font-size: 13px;
	font-weight: 100;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 25px;
	margin-top: 25px;
	line-height: 125%;
}

p.description {
	width: 350px;
	text-align: justify;
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	color: #000000;
	font-size: 13px;
	font-weight: 100;
	padding: 0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 25px;
	margin-top: 25px;
	line-height: 125%;
}

hr{
	padding: 0px;	
	margin-bottom: 0px;
	margin-top: 0px;
}

/*
 * Charts
 */

.p5_chart{
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;

}

iframe.p5_chart{
	overflow: hidden;
}

.top-note{
	color: #000000;
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	font-size: 10px;
	font-weight: 200;
}

h1{
	font-family: "Tablet Gothic Condensed", helvetica, sans-serif;
	font-size: 40px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

h2{
	font-family: "Tablet Gothic Condensed", helvetica, sans-serif;
	font-size: 18px;
	color: #E6E7E8;
	font-weight: 100;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

h3{
	height:14px;
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: 100;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}
.title a:link{
	text-decoration: none;
}

.title a:hover{
	text-decoration: none;
}

.title h2 {
	color: #000000;
	font-weight: 400;
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top: 0px;
	margin-bottom: 0px;
	line-height: 100%;
}

.title h3 {
	color: #000000;
	font-weight: 400;
	font-family: "Futura PT Condensed", helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top: 0px;
	margin-bottom: 0px;
	line-height: 50%;
}

/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}

a:hover{
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
}