body {
	background-color: rgb(255);
	color: #000000;
	font-family: "effra", helvetica, sans-serif;
	font-size: 14px;
	max-width: 700px;
	font-weight: 200;
}

.top-note{
	color: #000000;
	font-family: "effra", helvetica, sans-serif;
	font-size: 10px;
	font-weight: 200;
}

.title h1 {
	color: #000000;
	font-weight: 700;
	font-family: "effra", helvetica, sans-serif;
	font-size: 48px;
	text-align: left;
	padding-bottom: 0px;
	margin-bottom: 0px;
	line-height: 90%;
}

.title a:link{
	text-decoration: none;
}

.title a:hover{
	text-decoration: underline;
}

.title h2 {
	color: #000000;
	font-weight: 400;
	font-family: "effra", helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	padding-top: 0px;
	margin-bottom: 0px;
	line-height: 100%;
}

.title h3 {
	color: #000000;
	font-weight: 400;
	font-family: "effra", helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	padding-top: 0px;
	margin-bottom: 0px;
	line-height: 50%;
}

/* unvisited link */
a:link {
    color: #000000;
}

a:hover{
	text-decoration: underline;
}

/* visited link */
a:visited {
    color: #000000;
}